.u-section-1 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-1 .u-image-1 {
  width: 495px;
  height: 720px;
  margin: 180px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-left: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 495px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-2 .u-image-1 {
  width: 495px;
  height: 720px;
  margin: 180px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-left: 405px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-left: 185px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 495px;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-3 .u-image-1 {
  width: 1080px;
  height: 720px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 627px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 227px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-4 .u-image-1 {
  width: 1080px;
  height: 720px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-4 .u-image-1 {
    width: 940px;
    height: 627px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 227px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-5 .u-image-1 {
  width: 1080px;
  height: 720px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-5 .u-image-1 {
    width: 940px;
    height: 627px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 227px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-6 .u-image-1 {
  width: 1080px;
  height: 720px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-6 .u-image-1 {
    width: 940px;
    height: 627px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 227px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-7 .u-image-1 {
  width: 1080px;
  height: 720px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-7 .u-image-1 {
    width: 940px;
    height: 627px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 227px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-8 .u-image-1 {
  width: 1080px;
  height: 720px;
  object-position: 50% 49.35%;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-8 .u-image-1 {
    width: 940px;
    height: 627px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-8 .u-image-1 {
    width: 720px;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 227px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-9 .u-image-1 {
  width: 1080px;
  height: 720px;
  object-position: 50% 49.35%;
  margin: 270px auto 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-9 .u-image-1 {
    width: 940px;
    height: 627px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-9 .u-image-1 {
    width: 720px;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 227px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-10 .u-image-1 {
  width: 1080px;
  height: 720px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-10 .u-image-1 {
    width: 940px;
    height: 627px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-10 .u-image-1 {
    width: 720px;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-10 .u-image-1 {
    width: 540px;
    height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-10 .u-image-1 {
    width: 340px;
    height: 227px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-11 .u-image-1 {
  width: 1080px;
  height: 720px;
  object-position: 50% 49.35%;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-11 .u-image-1 {
    width: 940px;
    height: 627px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-11 .u-image-1 {
    width: 720px;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-11 .u-image-1 {
    width: 540px;
    height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 227px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-12 .u-image-1 {
  width: 1080px;
  height: 720px;
  object-position: 50% 49.35%;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-12 .u-image-1 {
    width: 940px;
    height: 627px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-12 .u-image-1 {
    width: 720px;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-12 .u-image-1 {
    width: 540px;
    height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-12 .u-image-1 {
    width: 340px;
    height: 227px;
  }
}