.u-section-1 .u-sheet-1 {
  min-height: 1620px;
}

.u-section-1 .u-video-1 {
  width: 480px;
  height: 720px;
  margin: 450px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 211px auto 0 300px;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: -32px auto 60px 359px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-social-icons-1 {
    margin-left: 234px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-social-icons-1 {
    margin-left: 193px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-social-icons-1 {
    margin-left: 215px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 85px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1410px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 510px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 247px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 54px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-2 .u-video-1 {
  height: 720px;
  width: 1080px;
  margin: 180px auto;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-2 .u-video-1 {
    width: 940px;
    height: 627px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-2 .u-video-1 {
    width: 720px;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-2 .u-video-1 {
    width: 540px;
    height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
    height: 227px;
  }
}