.u-section-1 .u-sheet-1 {
  min-height: 1620px;
}

.u-section-1 .u-video-1 {
  width: 480px;
  height: 720px;
  margin: 450px auto 60px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1410px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 510px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1095px;
}

.u-section-2 .u-video-1 {
  height: 720px;
  width: 480px;
  margin: 180px auto 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 71px auto 0 300px;
}

.u-section-2 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: -32px 305px 60px 359px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1084px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 60px;
    margin-left: 230px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 184px;
    margin-left: 276px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1147px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 69px;
    margin-left: 120px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 104px;
    margin-left: 170px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1179px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 67px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 14px;
    margin-left: 81px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1065px;
  }

  .u-section-2 .u-video-1 {
    height: 510px;
    width: 340px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 72px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 49px;
  }
}