.u-section-1 .u-sheet-1 {
  min-height: 716px;
}

.u-section-1 .u-video-1 {
  width: 1080px;
  height: 720px;
  animation-duration: 1000ms;
  margin: 150px auto 60px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1 .u-video-1 {
    width: 940px;
    height: 627px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-video-1 {
    width: 340px;
    height: 227px;
  }
}